autopep8==2.3.1
certifi==2024.8.30
chardet==5.2.0
cloudinary==1.41.0
dj-database-url
Django==5.1.1
django-cloudinary-storage
idna
mock
Pillow
pycodestyle
python-decouple
pytz
requests
six
sqlparse
toml
urllib3
whitenoise
psycopg2
gunicorn
django-ckeditor
djangorestframework
